<div class="d-flex justify-content-end mb-6">
  <button
    (click)="goToAll()"
    type="button"
    class="btn btn-primary mr-2"
    style="margin-right: 10px"
  >
    Overview
  </button>
  <button
    type="button"
    class="btn btn-secondary ml-2"
    [disabled]="isLoading || contactForm.invalid"
    (click)="save()"
  >
    <ng-container *ngIf="!isLoading">Save</ng-container>

    <ng-container *ngIf="isLoading">
      <span clas="indicator-progress" [style.display]="'block'">
        Please wait...{{ " " }}
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
    </ng-container>
  </button>
</div>
<form novalidate="" class="form" #contactForm="ngForm">
  <div class="card mb-5 mb-xl-10">
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_contact_details"
      aria-expanded="true"
      aria-controls="kt_account_contact_details"
    >
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Contact Details</h3>
      </div>
    </div>
    <div class="card-body borqr-top p-9">
      <div class="d-flex justify-content-between" style="width: 800px">
        <div class="image-input image-input-outline" data-kt-image-input="true">
          <img
            class="image-input-wrapper w-125px h-125px"
            [src]="imageSrc"
            avatar="Avatar"
          />
          <div class="mt-4 cursor-pointer">
            <p class="text-muted lead" (click)="selectImage.click()">
              Change Profile
            </p>
          </div>
          <div class="custom-file" style="width: 300px">
            <input
              type="file"
              class="form-control form-control-lg form-control-solid temp-hidden"
              (change)="updateAvatar($event)"
              #selectImage
            />
          </div>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox1" />
          <label for="checkbox1" class="form-check-label"
            >This is an office worker.</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox2" />
          <label for="checkbox2" class="form-check-label"
            >Contact is a company.</label
          >
        </div>
      </div>
    </div>
    <div id="kt_account_contact_details" class="collapse show">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <div class="col-lg-4">
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">First Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="First Name"
                    name="firstName"
                    [(ngModel)]="contact.givenName"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Infix</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Infix"
                    name="infix"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Last Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Last Name"
                    name="lastName"
                    [(ngModel)]="contact.surname"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Suffix</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Suffix"
                    name="suffix"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6 required"
                    >Full Name</label
                  >
                  <input
                    maxlength="50"
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Full Name"
                    name="displayName"
                    [(ngModel)]="contact.displayName"
                    #name="ngModel"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <div class="col-lg-4"></div>
                  <!-- Validate Display Name -->
                  <div
                    *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="form-text"
                  >
                    <div *ngIf="name.errors?.required">
                      Full name is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Gender</label>
                  <select
                    class="form-select form-select-solid form-select-lg fw-bold"
                    name="countryVa"
                    [(ngModel)]="selectedGender"
                  >
                    <option value="">Select gender</option>
                    <option
                      *ngFor="let gender of genders"
                      [selected]="selectedGender === gender.value"
                      [text]="gender.text"
                      [value]="gender.value"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 col-form-label fw-bold fs-6"
                    >Language</label
                  >
                  <div class="col-lg-8 fv-row">
                    <select
                      class="form-select form-select-solid form-select-lg"
                      name="language"
                    >
                      <option value="">Select a Language</option>
                      <option value="id">Bahasa Indonesia - Indonesian</option>
                      <option value="msa">Bahasa Melayu - Malay</option>
                      <option value="ca">Català - Catalan</option>
                      <option value="cs">Čeština - Czech</option>
                      <option value="da">Dansk - Danish</option>
                      <option value="de">Deutsch - German</option>
                      <option value="en">English</option>
                      <option value="en-gb">
                        English UK - British English
                      </option>
                      <option value="es">Español - Spanish</option>
                      <option value="fil">Filipino</option>
                      <option value="fr">Français - French</option>
                      <option value="ga">Gaeilge - Irish (beta)</option>
                      <option value="gl">Galego - Galician (beta)</option>
                      <option value="hr">Hrvatski - Croatian</option>
                      <option value="it">Italiano - Italian</option>
                      <option value="hu">Magyar - Hungarian</option>
                      <option value="nl">Nederlands - Dutch</option>
                      <option value="no">Norsk - Norwegian</option>
                      <option value="pl">Polski - Polish</option>
                      <option value="pt">Português - Portuguese</option>
                      <option value="ro">Română - Romanian</option>
                      <option value="sk">Slovenčina - Slovak</option>
                      <option value="fi">Suomi - Finnish</option>
                      <option value="sv">Svenska - Swedish</option>
                      <option value="vi">Tiếng Việt - Vietnamese</option>
                      <option value="tr">Türkçe - Turkish</option>
                      <option value="el">Ελληνικά - Greek</option>
                      <option value="bg">Български език - Bulgarian</option>
                      <option value="ru">Русский - Russian</option>
                      <option value="sr">Српски - Serbian</option>
                      <option value="uk">Українська мова - Ukrainian</option>
                      <option value="he">עִבְרִית - Hebrew</option>
                      <option value="ur">اردو - Urdu (beta)</option>
                      <option value="ar">العربية - Arabic</option>
                      <option value="fa">فارسی - Persian</option>
                      <option value="mr">मराठी - Marathi</option>
                      <option value="hi">हिन्दी - Hindi</option>
                      <option value="bn">বাংলা - Bangla</option>
                      <option value="gu">ગુજરાતી - Gujarati</option>
                      <option value="ta">தமிழ் - Tamil</option>
                      <option value="kn">ಕನ್ನಡ - Kannada</option>
                      <option value="th">ภาษาไทย - Thai</option>
                      <option value="ko">한국어 - Korean</option>
                      <option value="ja">日本語 - Japanese</option>
                      <option value="zh-cn">
                        简体中文 - Simplified Chinese
                      </option>
                      <option value="zh-tw">
                        繁體中文 - Traditional Chinese
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6" for="emailInput"
                    >Email</label
                  >
                  <input
                    type="email"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    id="emailInput"
                    placeholder="Email"
                    name="email"
                    email
                    ngModel
                    #email="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    required
                  />
                </div>
                <div *ngIf="email.touched">
                  <p *ngIf="email.errors?.required">
                    Email is a required field!
                  </p>
                  <p *ngIf="email.errors?.pattern">
                    This is not a valid Email!!!
                  </p>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Fax</label>
                  <input
                    type="tel"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Fax"
                    name="fax"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Organization name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Organization name"
                    name="organizationName"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Telephone</label>
                  <input
                    type="tel"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Telephone"
                    name="telephone"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Mobile</label>
                  <input
                    type="tel"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Mobile"
                    name="mobile"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Feature title</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Feature title"
                    name="featureTitle"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Address title</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Address title"
                    name="addressTitle"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6"
                    >Letter/email salutation</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Letter/email salutation"
                    name="letter/email"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0 mb-6">
    <div class="d-flex overflow-auto h-55px">
      <ul
        class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap"
      >
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6 cursor-pointer"
            [ngClass]="activeClass('address-tab')"
            (click)="setTab('address-tab')"
            data-bs-toggle="tab"
          >
            Address data
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6 cursor-pointer"
            [ngClass]="activeClass('extra-tab')"
            (click)="setTab('extra-tab')"
            data-bs-toggle="tab"
          >
            Extra data
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6 cursor-pointer"
            [ngClass]="activeClass('financial-tab')"
            (click)="setTab('financial-tab')"
            data-bs-toggle="tab"
          >
            Financial
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6 cursor-pointer"
            [ngClass]="activeClass('history-tab')"
            (click)="setTab('history-tab')"
            data-bs-toggle="tab"
          >
            History
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <!-- begin::Tap Address-->
    <div
      class="tab-pane fade"
      [ngClass]="activeClass('address-tab')"
      id="address-tab"
    >
      <div class="card mb-5 mb-xl-10">
        <!-- begin::Correspondence Address-->
        <div class="card-header border-0">
          <div class="card-title m-0">
            <h5 class="fw-bolder m-0">Correspondence Address</h5>
          </div>
        </div>
        <div class="card-body border-top p-9">
          <div class="row mb-6">
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6"
                      >Street/Postbox 1</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Street/Postbox"
                      name="streetPostbox"
                      id="streetPostbox"
                      [(ngModel)]="streetPostbox1"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Address 2</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Address 2"
                      name="address2"
                      [(ngModel)]="addressModel1"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Postcode</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Postcode"
                      name="postcode"
                      [(ngModel)]="postCode1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">House number</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="House number"
                      name="houseNumber"
                      [(ngModel)]="houseNumber1"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Place</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Place"
                      name="place"
                      [(ngModel)]="place1"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6"
                      >Province / State</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Province / State"
                      name="provinceState"
                      [(ngModel)]="provinceState1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Addition</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Addition"
                      name="addition"
                      [(ngModel)]="addition1"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Country</label>
                    <select
                      class="form-select form-select-solid form-select-lg fw-bold"
                      name="country"
                      [(ngModel)]="selectedCountryId1"
                    >
                      <option value="">Select a Country</option>
                      <option
                        *ngFor="let country of countries"
                        [selected]="selectedCountryId1 === country.id"
                        [text]="country.countryName_en"
                        [value]="country.id"
                      ></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end::Correspondence Address-->

        <!-- begin::Visiting Address-->
        <div class="card-header border-0">
          <div class="card-title m-0">
            <h5 class="fw-bolder m-0">
              Visiting address ( same as postal address
              <input
                class="form-check-input"
                name="sameAsPostalAddress"
                type="checkbox"
                [(ngModel)]="isChecked"
                (change)="updateInput()"
              />
              )
            </h5>
          </div>
        </div>
        <div class="card-body border-top p-9">
          <div class="row mb-6">
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6"
                      >Street/Postbox 2</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Street/Postbox"
                      name="streetPostbox"
                      id="streetPostbox"
                      [disabled]="isChecked"
                      [(ngModel)]="streetPostbox2"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Address 2</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Address 2"
                      name="address2"
                      [disabled]="isChecked"
                      [(ngModel)]="addressModel2"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Postcode</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Postcode"
                      name="postcode"
                      [disabled]="isChecked"
                      [(ngModel)]="postCode2"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">House number</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="House number"
                      name="houseNumber"
                      [disabled]="isChecked"
                      [(ngModel)]="houseNumber2"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Place</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Place"
                      name="place"
                      [disabled]="isChecked"
                      [(ngModel)]="place2"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6"
                      >Province / State</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Province / State"
                      name="provinceState"
                      [disabled]="isChecked"
                      [(ngModel)]="provinceState2"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Addition</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Addition"
                      name="addition"
                      [disabled]="isChecked"
                      [(ngModel)]="addition2"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Country</label>
                    <select
                      class="form-select form-select-solid form-select-lg fw-bold"
                      name="countryVa"
                      [(ngModel)]="selectedCountryId2"
                      [disabled]="isChecked"
                    >
                      <option value="">Select a Country</option>
                      <option
                        *ngFor="let country of countries"
                        [selected]="selectedCountryVaId === country.id"
                        [text]="country.countryName_en"
                        [value]="country.id"
                      ></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end::Visiting Address-->
      </div>
    </div>
    <!-- end::Tap Address-->

    <!-- begin::Tap Extra-->
    <div
      class="tab-pane fade"
      [ngClass]="activeClass('extra-tab')"
      id="extra-tab"
    >
      <div class="card mb-5 mb-xl-10">
        <div class="card-body border-top p-9">
          <div class="row mb-6">
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Date of birth</label>
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Date of birth"
                      name="dateOfBirth"
                      [(ngModel)]="dateOfBirth"
                      required
                      min="1900-01-01"
                      [max]="maxDate"
                      #dateOfBirthVar="ngModel"
                      (input)="dateChange($event)"
                    />
                  </div>
                  <div>
                    {{ date }}
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Legitimation</label>
                    <select
                      class="form-select form-select-solid form-select-lg fw-bold"
                      name="legitimation"
                      [(ngModel)]="selectedIdTypeId"
                    >
                      <option value="0">Select legitimation</option>
                      <option
                        *ngFor="let idType of idTypes"
                        [selected]="selectedIdTypeId === idType.id"
                        [text]="idType.title"
                        [value]="idType.id"
                      ></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Marital status</label>
                    <select
                      class="form-select form-select-solid form-select-lg fw-bold"
                      name="maritalStatus"
                      [(ngModel)]="selectedMaritalStatusId"
                    >
                      <option value="0">Select marital status</option>
                      <option
                        *ngFor="let maritalStatus of maritalStatuses"
                        [selected]="
                          selectedMaritalStatusId === maritalStatus.id
                        "
                        [text]="maritalStatus.title"
                        [value]="maritalStatus.id"
                      ></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">VNumber</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="VNumber"
                      name="vNumber"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Birthplace</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Birthplace"
                      name="birthplace"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">ID number</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="ID number"
                      name="idNumber"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Partner</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Partner"
                      name="partner"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">BAR-number</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="BAR-number"
                      name="barNumber"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Nationality</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Nationality"
                      name="nationality"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">ID valid until</label>
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="ID valid until"
                      name="idValidUntil"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Wedding date</label>
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Wedding date"
                      name="weddingDate"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Source</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Source"
                      name="source"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::Tap Extra-->

    <!-- begin::Tap Financial-->
    <div
      class="tab-pane fade"
      [ngClass]="activeClass('financial-tab')"
      id="financial-tab"
    >
      <div class="card mb-5 mb-xl-10">
        <div class="card-body border-top p-9">
          <div class="row mb-6">
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6"
                      >Bank/IBAN account</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-lg-0"
                      placeholder="Bank/IBAN account"
                      name="bankIBANAccount"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6"
                      >SEPA mandate number</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-lg-0"
                      placeholder="SEPA mandate number"
                      name="sepaMandateNumber"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6"
                      >BIC/Swift number</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-lg-0"
                      placeholder="BIC/Swift number"
                      name="bicSwiftNumber"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6"
                      >SEPA effective date</label
                    >
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid mb-lg-0"
                      placeholder="SEPA effective date"
                      name="sepaEffectiveDate"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">Bank name</label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid mb-lg-0"
                      placeholder="Bank name"
                      name="bankName"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center me-4">
                    <label class="col-lg-4 fw-bold fs-6">SEPA limit</label>
                    <input
                      type="number"
                      class="form-control form-control-lg form-control-solid mb-lg-0"
                      placeholder="SEPA limit"
                      name="sepaLimit"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::Tap Financial-->
  </div>
</div>
