<form novalidate="" class="form" #contactForm="ngForm">
  <!-- begin::Buttons-->
  <div class="d-flex justify-content-end mb-6">
    <button
      type="button"
      class="btn btn-primary mr-2"
      style="margin-right: 10px"
      translate="PAGES.CONTACT.OVERVIEW"
      (click)="redirectToListPage()"
    ></button>
    <button
      type="button"
      class="btn btn-secondary ml-2"
      [disabled]="isLoading || contactForm.invalid"
      (click)="save()"
    >
      <div translate="COMMON.SAVE">
        <ng-container *ngIf="!isLoading"></ng-container>
      </div>

      <ng-container *ngIf="isLoading">
        <span
          class="indicator-progress"
          [style.display]="'block'"
          translate="COMMON.PLEASE_WAIT"
        >
          {{ " " }}
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
  </div>
  <!-- end::Buttons-->

  <div class="card mb-5 mb-xl-10">
    <!-- begin::FormTitle-->
    <div class="card-header border-0">
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">{{ contactFormTitle }}</h3>
      </div>
    </div>
    <!-- end::FormTitle-->

    <!-- begin::AvatarListCheckboxes-->
    <div class="card-body borqr-top p-9">
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <div
            class="image-input image-input-outline"
            data-kt-image-input="true"
          >
            <img
              class="image-input-wrapper w-125px h-125px"
              [src]="avatarSrc"
              avatar="Avatar"
            />
            <div class="mt-4 cursor-pointer">
              <p
                class="text-muted"
                (click)="selectImage.click()"
                translate="PAGES.CONTACT.CHANGE_PROFILE"
              ></p>
            </div>
            <div class="custom-file">
              <input
                type="file"
                class="form-control form-control-lg form-control-solid temp-hidden"
                name="avatar-upload"
                (change)="updateAvatar($event)"
                #selectImage
              />
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="form-check">
              <div class="form-check d-flex">
                <input
                  class="form-check-input"
                  style="margin-left: 20px"
                  type="checkbox"
                  id="isOurEmployee"
                  name="isOurEmployee"
                  [(ngModel)]="contact.isOurEmployee"
                  [checked]="contact.isOurEmployee"
                />
                <label
                  style="margin-left: 5px"
                  for="isOurEmployee"
                  class="form-check-label"
                  translate="PAGES.CONTACT.IS_OUR_EMPLOYEE"
                ></label>
              </div>
              <div
                *ngIf="contact.isOurEmployee"
                class="d-flex mt-12 ml-3"
                style="margin-left: 50px"
              >
                <div class="d-flex flex-column">
                  <label
                    class="font-weight-bold opacity-80"
                    translate="PAGES.CONTACT.DECLARATION_DETAILS"
                  >
                  </label>
                  <label
                    class="mt-12"
                    translate="PAGES.CONTACT.DECLARATION_RATE"
                  >
                  </label>
                </div>
                <div class="d-flex flex-column">
                  <div *ngFor="let billingRate of billingRates">
                    <label
                      style="margin-left: 20px"
                      class="fs-6 fw-bold text-gray-800 d-flex justify-content-between align-items-center pb-3"
                    >
                      {{ billingRate.title }}
                      <input
                        style="margin-left: 20px"
                        type="radio"
                        class="form-check-input"
                        name="billingRateRadio"
                        [(ngModel)]="contact.billingRateId"
                        [value]="billingRate.id"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex form-check align-items-center justify-content-center position-absolute"
          style="left: 50%"
        >
          <input
            class="form-check-input"
            type="checkbox"
            id="isOrganization"
            name="isOrganization"
            [(ngModel)]="contact.isOrganization"
            [checked]="contact.isOrganization"
          />
          <label
            style="margin-left: 5px"
            for="isOrganization"
            class="form-check-label"
            translate="PAGES.CONTACT.IS_ORGANIZATION"
          ></label>
        </div>
      </div>
    </div>
    <!-- end::AvatarListCheckboxes-->

    <!-- begin::MainForm-->
    <div class="card-body border-top p-9">
      <div class="row mb-6">
        <div class="col-lg-4">
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.FIRST_NAME"
                ></label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="firstName"
                  [(ngModel)]="contact.givenName"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.INFIX"
                ></label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="infix"
                  [(ngModel)]="contact.middleName"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.LAST_NAME"
                ></label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="lastName"
                  [(ngModel)]="contact.surname"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.SUFFIX"
                ></label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="suffix"
                  [(ngModel)]="contact.generation"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6 required"
                  translate="PAGES.CONTACT.FULL_NAME"
                ></label>
                <input
                  maxlength="50"
                  type="text"
                  name="displayName"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  [class.is-invalid]="name.invalid && name.touched"
                  [(ngModel)]="contact.displayName"
                  required
                  #name="ngModel"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <div class="col-lg-4"></div>
                <!-- Validate Display Name -->
                <div
                  *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="form-text"
                >
                  <div
                    *ngIf="name.errors?.required"
                    translate="PAGES.CONTACT.FULL_NAME_REQUIRED"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.GENDER"
                ></label>
                <select
                  class="form-select form-select-solid form-select-lg fw-bold"
                  name="gender"
                  [(ngModel)]="contact.gender"
                >
                  <option
                    value=""
                    translate="PAGES.CONTACT.SELECT_GENDER"
                  ></option>
                  <option
                    *ngFor="let gender of genders"
                    [selected]="contact.gender === gender.value"
                    [text]="gender.text"
                    [value]="gender.value"
                  ></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 col-form-label fw-bold fs-6"
                  translate="PAGES.CONTACT.LANGUAGE"
                ></label>
                <div class="col-lg-8 fv-row">
                  <select
                    class="form-select form-select-solid form-select-lg fw-bold"
                    name="language"
                    [(ngModel)]="contact.language"
                  >
                    <option
                      value=""
                      *ngFor="let language of languages"
                      [selected]="contact.language === language.id.toString()"
                      [text]="language.title"
                      [value]="language.id"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  for="emailInput"
                  translate="COMMON.EMAIL"
                ></label>
                <input
                  type="email"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  id="emailInput"
                  name="email"
                  [class.is-invalid]="email.invalid && email.touched"
                  [(ngModel)]="contact.email1EmailAddress"
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  #email="ngModel"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <div class="col-lg-4"></div>
                <!-- Validate Email -->
                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="form-text"
                >
                  <div translate="COMMON.INVALID_EMAIL"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.FAX"
                ></label>
                <input
                  type="tel"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="fax"
                  [(ngModel)]="contact.fax1DisplayName"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.ORGANIZATION_NAME"
                ></label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="organizationName"
                  [(ngModel)]="contact.companyName"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.TELEPHONE"
                ></label>
                <input
                  type="tel"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="telephone"
                  [(ngModel)]="contact.telephone1TelephoneNumber"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.MOBILE"
                ></label>
                <input
                  type="tel"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="mobile"
                  [(ngModel)]="contact.telephone2TelephoneNumber"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.FEATURE_TITLE"
                ></label>
                <select
                  class="form-select form-select-solid form-select-lg fw-bold"
                  name="country1"
                  [(ngModel)]="contact.profession"
                  (ngModelChange)="onTitleSelect()"
                >
                  <option
                    value=""
                    disabled
                    translate="PAGES.CONTACT.FEATURE_TITLE"
                  ></option>
                  <option
                    *ngFor="let title of contactTitles"
                    [text]="title.profession"
                    [value]="title.id"
                  ></option>
                </select>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.ADDRESS_TITLE"
                ></label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="addressTitle"
                  [(ngModel)]="contact.title"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="d-flex align-items-center me-4">
                <label
                  class="col-lg-4 fw-bold fs-6"
                  translate="PAGES.CONTACT.LETTER_EMAIL_SALUTATION"
                ></label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  name="letter/email"
                  [(ngModel)]="contact.saluation"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::MainForm-->
  </div>

  <!-- begin::Tabs-->
  <div class="card mb-5 mb-xl-10">
    <!-- begin::TabTitles-->
    <div class="card-body pt-9 pb-0 mb-6">
      <div class="d-flex overflow-auto h-55px">
        <ul
          class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap"
        >
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6 cursor-pointer"
              [ngClass]="activeClass('address-tab')"
              (click)="setTab('address-tab')"
              data-bs-toggle="tab"
              translate="PAGES.CONTACT.ADDRESS_DATA"
            >
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6 cursor-pointer"
              [ngClass]="activeClass('extra-tab')"
              (click)="setTab('extra-tab')"
              data-bs-toggle="tab"
              translate="PAGES.CONTACT.EXTRA_DATA"
            >
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6 cursor-pointer"
              [ngClass]="activeClass('financial-tab')"
              (click)="setTab('financial-tab')"
              data-bs-toggle="tab"
              translate="PAGES.CONTACT.FINANCIAL"
            >
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6 cursor-pointer"
              [ngClass]="activeClass('history-tab')"
              (click)="setTab('history-tab')"
              data-bs-toggle="tab"
              translate="PAGES.CONTACT.HISTORY"
            >
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end::TabTitles-->

    <div class="tab-content">
      <!-- begin::Tap Address-->
      <div
        class="tab-pane fade"
        [ngClass]="activeClass('address-tab')"
        id="address-tab"
      >
        <div class="card mb-5 mb-xl-10">
          <!-- begin::Correspondence Address-->
          <div class="card-header border-0">
            <div class="card-title m-0">
              <h5
                class="fw-bolder m-0"
                translate="PAGES.CONTACT.CORRESPONDENCE_ADDRESS"
              ></h5>
            </div>
          </div>
          <div class="card-body border-top p-9">
            <div class="row mb-6">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.STREET_POSTBOX"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        id="streetPostbox1"
                        name="streetPostbox1"
                        [(ngModel)]="contact.address1AddressStreet"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.ADDRESS_2"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="address1Line2"
                        [(ngModel)]="contact.address1AddressLine2"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.POSTCODE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="postcode1"
                        [(ngModel)]="contact.address1AddressPostalCode"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.HOUSE_NUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="houseNumber1"
                        [(ngModel)]="contact.address2AddressHouseNo"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.PLACE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="place1"
                        [(ngModel)]="contact.address2AddressCity"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.PROVINCE_STATE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="provinceState1"
                        [(ngModel)]="contact.address1AddressStateOrProvince"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.ADDITION"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="addition1"
                        [(ngModel)]="contact.address2AddressHouseNoExt"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="COMMON.COUNTRY"
                      ></label>
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="country1"
                        [(ngModel)]="contact.address1AddressCountry"
                      >
                        <option
                          value=""
                          disabled
                          translate="COMMON.SELECT_A_COUNTRY"
                        ></option>
                        <option
                          *ngFor="let country of countries"
                          [text]="country.countryName_en"
                          [value]="country.id"
                          [selected]="
                            contact.address1AddressCountry === country.id
                          "
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end::Correspondence Address-->

          <!-- begin::Visiting Address-->
          <div class="card-header border-0">
            <div class="card-title m-0">
              <h5
                class="fw-bolder m-0"
                translate="PAGES.CONTACT.VISITING_ADDRESS"
              >
                <input
                  class="form-check-input ml-2"
                  name="sameAsPostalAddress"
                  type="checkbox"
                  (change)="setVisitingSameAsPostalAddress()"
                />
              </h5>
            </div>
          </div>
          <div class="card-body border-top p-9">
            <div class="row mb-6">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.STREET_POSTBOX"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="streetPostbox"
                        id="streetPostbox"
                        [disabled]="checkedVisitingSameAsPostalAddress"
                        [(ngModel)]="contact.address2AddressStreet"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.ADDRESS_2"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="address2"
                        [disabled]="checkedVisitingSameAsPostalAddress"
                        [(ngModel)]="contact.address2AddressLine2"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.POSTCODE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="postcode"
                        [disabled]="checkedVisitingSameAsPostalAddress"
                        [(ngModel)]="contact.address2AddressPostalCode"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.HOUSE_NUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="houseNumber"
                        [disabled]="checkedVisitingSameAsPostalAddress"
                        [(ngModel)]="contact.address3AddressHouseNo"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.PLACE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="place"
                        [disabled]="checkedVisitingSameAsPostalAddress"
                        [(ngModel)]="contact.address3AddressCity"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.PROVINCE_STATE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="provinceState"
                        [disabled]="checkedVisitingSameAsPostalAddress"
                        [(ngModel)]="contact.address2AddressStateOrProvince"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.ADDITION"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="addition"
                        [disabled]="checkedVisitingSameAsPostalAddress"
                        [(ngModel)]="contact.address3AddressHouseNoExt"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="COMMON.COUNTRY"
                      ></label>
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="countryVa"
                        [(ngModel)]="contact.address2AddressCountry"
                        [disabled]="checkedVisitingSameAsPostalAddress"
                      >
                        <option
                          value=""
                          translate="COMMON.SELECT_A_COUNTRY"
                        ></option>
                        <option
                          *ngFor="let country of countries"
                          [selected]="
                            contact.address2AddressCountry === country.id
                          "
                          [text]="country.countryName_en"
                          [value]="country.id"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end::Visiting Address-->
        </div>
      </div>
      <!-- end::Tap Address-->

      <!-- begin::Tap Extra-->
      <div
        class="tab-pane fade"
        [ngClass]="activeClass('extra-tab')"
        id="extra-tab"
      >
        <div class="card mb-5 mb-xl-10">
          <div class="card-body border-top p-9">
            <div class="row mb-6 contact-info" *ngIf="!contact.isOrganization">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.DATE_OF_BIRTH"
                      ></label>
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="dateOfBirth"
                        [ngModel]="contact.birthday | date : 'yyyy-MM-dd'"
                        (ngModelChange)="contact.birthday = $event"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.LEGITIMATION"
                      ></label>
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="legitimation"
                        [(ngModel)]="contact.idTypeId"
                      >
                        <option
                          value="0"
                          translate="PAGES.CONTACT.SELECT_LEGITIMATION"
                        ></option>
                        <option
                          *ngFor="let idType of idTypes"
                          [selected]="contact.idTypeId === idType.id"
                          [text]="idType.title"
                          [value]="idType.id"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.MARITAL_STATUS"
                      ></label>
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="maritalStatus"
                        [(ngModel)]="contact.civilStatusId"
                      >
                        <option
                          value="0"
                          translate="PAGES.CONTACT.SELECT_MARITAL_STATUS"
                        ></option>
                        <option
                          *ngFor="let maritalStatus of maritalStatuses"
                          [selected]="
                            contact.civilStatusId === maritalStatus.id
                          "
                          [text]="maritalStatus.title"
                          [value]="maritalStatus.id"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.VNUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="vNumber"
                        [(ngModel)]="contact.vNumber"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.BIRTHPLACE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="birthplace"
                        [(ngModel)]="contact.birthCity"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.ID_NUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="idNumber"
                        [(ngModel)]="contact.idNumber"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.PARTNER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="partner"
                        [(ngModel)]="contact.spouseName"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.BAR_NUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="barNumber"
                        [(ngModel)]="contact.barNumber"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.NATIONALITY"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="nationality"
                        [(ngModel)]="contact.nationality"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.ID_VALID_UNTIL"
                      ></label>
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="idValidUntil"
                        [ngModel]="contact.idDateExpiry | date : 'yyyy-MM-dd'"
                        (ngModelChange)="contact.idDateExpiry = $event"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.WEDDING_DATE"
                      ></label>
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="weddingDate"
                        [ngModel]="contact.wedding | date : 'yyyy-MM-dd'"
                        (ngModelChange)="contact.wedding = $event"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.SOURCE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="source"
                        [(ngModel)]="contact.referredByName"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-6 company-info" *ngIf="contact.isOrganization">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.SBI_CODE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="sbiCode"
                        [(ngModel)]="contact.sbiCode"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.KVK_NUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="businessRegistration"
                        [(ngModel)]="contact.businessRegistration"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.NUMBER_EMPLOYEES"
                      ></label>
                      <input
                        type="number"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="numberOfEmployees"
                        [(ngModel)]="contact.numberEmployees"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.RSIN"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="taxNumber"
                        [(ngModel)]="contact.taxNumber"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.DATE_ESTABLISHMENT"
                      ></label>
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="dateOfBirth"
                        [ngModel]="contact.birthday | date : 'yyyy-MM-dd'"
                        (ngModelChange)="contact.birthday = $event"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.ANNUAL_REVENUE"
                      ></label>
                      <input
                        type="number"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="turnOver"
                        [(ngModel)]="contact.turnOver"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.BTW_NUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="vatId"
                        [(ngModel)]="contact.vatId"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.LEGAL_FORM"
                      ></label>
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="legalForm"
                        [(ngModel)]="contact.companyLegalStatusId"
                      >
                        <option
                          value="0"
                          translate="PAGES.CONTACT.SELECT_LEGAL_FORM"
                        ></option>
                        <option
                          *ngFor="
                            let companyLegalStatus of companyLegalStatuses
                          "
                          [selected]="
                            contact.companyLegalStatusId ===
                            companyLegalStatus.id
                          "
                          [text]="companyLegalStatus.title"
                          [value]="companyLegalStatus.id"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.WEBSITE"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        name="website"
                        [(ngModel)]="contact.website"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end::Tap Extra-->

      <!-- begin::Tap Financial-->
      <div
        class="tab-pane fade"
        [ngClass]="activeClass('financial-tab')"
        id="financial-tab"
      >
        <div class="card mb-5 mb-xl-10">
          <div class="card-body border-top p-9">
            <div class="row mb-6">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.BANK_IBAN_ACCOUNT"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        name="bankIBANAccount"
                        [(ngModel)]="contact.bankAccount"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.SEPA_MANDATE_NUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        name="sepaMandateNumber"
                        [(ngModel)]="contact.sepaMandateNumber"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.BIC_SWIFT_NUMBER"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        name="bicSwiftNumber"
                        [(ngModel)]="contact.bicCode"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.SEPA_EFFECTIVE_DATE"
                      ></label>
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        name="sepaEffectiveDate"
                        [ngModel]="
                          contact.sepaMandateDate | date : 'yyyy-MM-dd'
                        "
                        (ngModelChange)="contact.sepaMandateDate = $event"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.BANK_NAME"
                      ></label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        name="bankName"
                        [(ngModel)]="contact.bankName"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label
                        class="col-lg-4 fw-bold fs-6"
                        translate="PAGES.CONTACT.SEPA_LIMIT"
                      ></label>
                      <input
                        type="number"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        name="sepaLimit"
                        [(ngModel)]="contact.sepaMandateLimit"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end::Tap Financial-->
    </div>
  </div>
  <!-- end::Tabs-->

  <div class="card mb-5 mb-xl-10">
    <!-- <div class="card-body pt-9 pb-0 mb-6"> -->
    <div>
      <iframe
        [src]="mapIframeUrl | safe"
        frameborder="0"
        style="width: 100%; height: auto; border: 0"
      ></iframe>
    </div>
  </div>
</form>
