<div class="d-flex justify-content-end mb-6">
  <button
    type="button"
    class="btn btn-primary mr-2"
    style="margin-right: 10px"
    (click)="redirectToListPage()"
  >
    Overview
  </button>
  <button
    type="button"
    class="btn btn-secondary ml-2"
    [disabled]="!enableSaveButtonFirstEdit || isLoading || contactForm.invalid"
    (click)="save()"
  >
    <ng-container *ngIf="!isLoading">Save</ng-container>

    <ng-container *ngIf="isLoading">
      <span class="indicator-progress" [style.display]="'block'">
        Please wait...{{ " " }}
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
    </ng-container>
  </button>
</div>
<form novalidate="" class="form" #contactForm="ngForm">
  <div class="card mb-5 mb-xl-10">
    <div class="card-header border-0 cursor-pointer" role="button">
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Company details</h3>
      </div>
    </div>
    <div class="collapse show">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <div class="col-lg-4">
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6 required"
                    >Full Name</label
                  >
                  <input
                    maxlength="50"
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Full Name"
                    name="displayName"
                    [(ngModel)]="contact.displayName"
                    #name="ngModel"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <div class="col-lg-4"></div>
                  <!-- Validate Display Name -->
                  <div
                    *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="form-text"
                  >
                    <div *ngIf="name.errors?.required">
                      Full name is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Email</label>
                  <input
                    type="email"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Email"
                    name="email"
                    [(ngModel)]="contact.email1EmailAddress"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Organization name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Organization name"
                    name="organizationName"
                    [(ngModel)]="contact.companyName"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Source</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Source"
                    name="source"
                    [(ngModel)]="contact.referredByName"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Telephone</label>
                  <input
                    type="tel"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Telephone"
                    name="telephone"
                    [(ngModel)]="contact.telephone1TelephoneNumber"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Mobile</label>
                  <input
                    type="tel"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Mobile"
                    name="mobile"
                    [(ngModel)]="contact.telephone2TelephoneNumber"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Fax</label>
                  <input
                    type="tel"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Fax"
                    name="fax"
                    [(ngModel)]="contact.fax1FaxNumber"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">BAR-number</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="BAR-number"
                    name="barNumber"
                    [(ngModel)]="contact.barNumber"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label class="col-lg-4 fw-bold fs-6">Function</label>
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Function"
                    name="function"
                    [(ngModel)]="contact.profession"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="d-flex align-items-center me-4">
                  <label
                    class="col-lg-4 fw-bold fs-6"
                    title="Please note that the Title is automatically generated when changing profession/office"
                    >Title</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Title"
                    name="title"
                    [(ngModel)]="contact.title"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0 mb-6">
      <div class="d-flex overflow-auto h-55px">
        <ul
          class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap"
        >
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6 cursor-pointer"
              [ngClass]="activeClass('address-tab')"
              (click)="setTab('address-tab')"
              data-bs-toggle="tab"
            >
              Address data
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6 cursor-pointer"
              [ngClass]="activeClass('extra-tab')"
              (click)="setTab('extra-tab')"
              data-bs-toggle="tab"
            >
              Extra data
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6 cursor-pointer"
              [ngClass]="activeClass('financial-tab')"
              (click)="setTab('financial-tab')"
              data-bs-toggle="tab"
            >
              Financial
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-active-primary me-6 cursor-pointer"
              [ngClass]="activeClass('history-tab')"
              (click)="setTab('history-tab')"
              data-bs-toggle="tab"
            >
              History
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <!-- begin::Tap Address-->
      <div
        class="tab-pane fade"
        [ngClass]="activeClass('address-tab')"
        id="address-tab"
      >
        <div class="card mb-5 mb-xl-10">
          <!-- begin::Correspondence Address-->
          <div class="card-header border-0">
            <div class="card-title m-0">
              <h5 class="fw-bolder m-0">Correspondence Address</h5>
            </div>
          </div>
          <div class="card-body border-top p-9">
            <div class="row mb-6">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >Street/Postbox</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Street/Postbox"
                        name="streetPostbox"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Address 2</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Address 2"
                        name="address2"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Postcode</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Postcode"
                        name="postcode"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">House number</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="House number"
                        name="houseNumber"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Place</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Place"
                        name="place"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >Province / State</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Province / State"
                        name="provinceState"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Addition</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Addition"
                        name="addition"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Country</label>
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="country"
                        [(ngModel)]="selectedCountryId"
                      >
                        <option value="">Select a Country</option>
                        <option
                          *ngFor="let country of countries"
                          [selected]="selectedCountryId === country.id"
                          [text]="country.countryName_en"
                          [value]="country.id"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end::Correspondence Address-->

          <!-- begin::Visiting Address-->
          <div class="card-header border-0">
            <div class="card-title m-0">
              <h5 class="fw-bolder m-0">
                Visiting address ( same as postal address
                <input
                  class="form-check-input"
                  name="sameAsPostalAddress"
                  type="checkbox"
                />
                )
              </h5>
            </div>
          </div>
          <div class="card-body border-top p-9">
            <div class="row mb-6">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >Street/Postbox</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Street/Postbox"
                        name="streetPostbox"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Address 2</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Address 2"
                        name="address2"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Postcode</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Postcode"
                        name="postcode"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">House number</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="House number"
                        name="houseNumber"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Place</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Place"
                        name="place"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >Province / State</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Province / State"
                        name="provinceState"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Addition</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Addition"
                        name="addition"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Country</label>
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="countryVa"
                        [(ngModel)]="selectedCountryId"
                      >
                        <option value="">Select a Country</option>
                        <option
                          *ngFor="let country of countries"
                          [selected]="selectedCountryVaId === country.id"
                          [text]="country.countryName_en"
                          [value]="country.id"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end::Visiting Address-->
        </div>
      </div>
      <!-- end::Tap Address-->

      <!-- begin::Tap Extra-->
      <div
        class="tab-pane fade"
        [ngClass]="activeClass('extra-tab')"
        id="extra-tab"
      >
        <div class="card mb-5 mb-xl-10">
          <div class="card-body border-top p-9">
            <div class="row mb-6">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Date of birth</label>
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Date of birth"
                        name="dateOfBirth"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Legitimation</label>
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="legitimation"
                        [(ngModel)]="selectedIdTypeId"
                      >
                        <option value="0">Select legitimation</option>
                        <option
                          *ngFor="let idType of idTypes"
                          [selected]="selectedIdTypeId === idType.id"
                          [text]="idType.title"
                          [value]="idType.id"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >Marital status</label
                      >
                      <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        name="maritalStatus"
                        [(ngModel)]="selectedMaritalStatusId"
                      >
                        <option value="0">Select marital status</option>
                        <option
                          *ngFor="let maritalStatus of maritalStatuses"
                          [selected]="
                            selectedMaritalStatusId === maritalStatus.id
                          "
                          [text]="maritalStatus.title"
                          [value]="maritalStatus.id"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">VNumber</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="VNumber"
                        name="vNumber"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Birthplace</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Birthplace"
                        name="birthplace"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">ID number</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="ID number"
                        name="idNumber"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Partner</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Partner"
                        name="partner"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">BAR-number</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="BAR-number"
                        name="barNumber"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Nationality</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Nationality"
                        name="nationality"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >ID valid until</label
                      >
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="ID valid until"
                        name="idValidUntil"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Wedding date</label>
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Wedding date"
                        name="weddingDate"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Source</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Source"
                        name="source"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end::Tap Extra-->

      <!-- begin::Tap Financial-->
      <div
        class="tab-pane fade"
        [ngClass]="activeClass('financial-tab')"
        id="financial-tab"
      >
        <div class="card mb-5 mb-xl-10">
          <div class="card-body border-top p-9">
            <div class="row mb-6">
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >Bank/IBAN account</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        placeholder="Bank/IBAN account"
                        name="bankIBANAccount"
                        [(ngModel)]="contact.bankAccount"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >SEPA mandate number</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        placeholder="SEPA mandate number"
                        name="sepaMandateNumber"
                        [(ngModel)]="contact.sepaMandateNumber"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >BIC/Swift number</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        placeholder="BIC/Swift number"
                        name="bicSwiftNumber"
                        [(ngModel)]="contact.bicCode"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6"
                        >SEPA effective date</label
                      >
                      <input
                        type="date"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        placeholder="SEPA effective date"
                        name="sepaEffectiveDate"
                        [(ngModel)]="contact.sepaMandateDate"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">Bank name</label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        placeholder="Bank name"
                        name="bankName"
                        [(ngModel)]="contact.bankName"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12">
                    <div class="d-flex align-items-center me-4">
                      <label class="col-lg-4 fw-bold fs-6">SEPA limit</label>
                      <input
                        type="number"
                        class="form-control form-control-lg form-control-solid mb-lg-0"
                        placeholder="SEPA limit"
                        name="sepaLimit"
                        [(ngModel)]="contact.sepaMandateLimit"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end::Tap Financial-->
    </div>
  </div>
</form>
